{
  "extends": ["standard", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaVersion": 12
  },
  "rules": {
    "camelcase": "off",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": ["error", { "destructuring": "any" }],
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-object-spread": "error",
    "prefer-destructuring": "error",
    "prefer-numeric-literals": "error",
    "import/order": ["error", { "newlines-between": "always" }]
  }
}
